<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasmin Mosena</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">Yasmin Mosena</a>
            <ul class="navbar">
                <li><a href="index.html" class="nav-link">Menu</a></li>
                <li><a href="portfolio.html" class="nav-link">Portfólio</a></li>
                <li><a href="sobremim.html" class="nav-link">Sobre Mim</a></li>
            </ul>
        </div>
    </header>
    <section class="menu container">
        <div class="menu-content">
            <div class="menu-img">
                <img src="" alt="">
            </div>
            <div class="menu-text">
                <h3>Olá!</h3>
                <h2>Eu sou a <span class="color">Yasmin</span> :)</h2><br>
                <p>Sou <span class="color">estudante de programação </span>e atualmente estou cursando <span class="color">Desenvolvimento de Software Multiplataforma. </span><br>
                Aqui estão alguns lugares que você pode me encontrar:
                </p>
                <div class="redes">
                    <a href="https://www.instagram.com/ymosena/" target="_blank"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="https://github.com/ymosena" target="_blank" ><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/yasmin-mósena-11b256249/" target="_blank"><i class='bx bxl-linkedin-square'></i></a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>