{% extends "index.html" %}
{% block container %}
    <section class="portfolio container">
        <h2 class="heading">PORTFÓLIO</h2>
        </div>
        <div class="portfolio-content">
            <div class="portfolio-box">
                <img src="../static/img/Protótipo Pynk.jpg" alt="#" class="portfolio-img">
                <div class="portfolio-overlay">
                    <h2> INTERFACE CADASTRO E LOGIN</h2>
                    <a href="projetoum"><i class='bx bx-link'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="../static/img/Projeto_Unes.jpg" alt="#" class="portfolio-img">
                <div class="portfolio-overlay">
                    <h2>Unes Universidade</h2>
                    <a href="projetodois"><i class='bx bx-link'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="../static/img/Projeto_Tecblog.jpg" alt="#" class="portfolio-img">
                <div class="portfolio-overlay">
                    <h2>Tecblog</h2>
                    <a href="projetotres"><i class='bx bx-link'></i></a>
                </div>
            </div>
            <div class="portfolio-box">
                <img src="../static/img/Projeto_design.jpg" alt="#" class="portfolio-img">
                <div class="portfolio-overlay">
                    <h2>Tarefa Design</h2>
                    <a href="projetoquatro"><i class='bx bx-link'></i></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}    