<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yasmin Mosena</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header>
        <div class="nav container">
            <a href="#" class="logo">Yasmin Mosena</a>
            <ul class="navbar">
                <li><a href="index.html" class="nav-link">Menu</a></li>
                <li><a href="portfolio.html" class="nav-link">Portfólio</a></li>
                <li><a href="sobremim.html" class="nav-link">Sobre Mim</a></li>
            </ul>
        </div>
    </header>
    <section class="Sobre Mim" >
        <h2 class="heading">SOBRE MIM</h2>
        <div class="sobre-content">
            <div class="sobre-text">
                <p>Olá! Me chamo Yasmin, sou de Caçapava-São Paulo e estou no primeiro semestre do curso Desenvolvimento de Software Multiplataforma na Fatec São José dos campos</p><br>
                <p>Me formei no Ensino Médio em 2021 e esse ano decidi começar a explorar essa área da programação.</p><br>
                <p>As linguagens que utilizo são: Python 3, HTML 5 e Css 3. Também tenho conhecimentos de Figma, um Framework de prototipagem. Apesar de estar explorando todas as áreas, me destaquei em Front-End e pretendo me aprofundar nesse campo.</p>
            </div>
        </div>
    </section>