{% extends "index.html" %}
{% block container %}
    <section class="Sobre Mim" >
        <h2 class="heading">SOBRE MIM</h2>
        <div class="sobre-content">
            <div class="sobre-text">
                <p>Olá! Me chamo Yasmin, sou de Caçapava-São Paulo e estou no primeiro semestre do curso Desenvolvimento de Software Multiplataforma na Fatec São José dos campos</p><br>
                <p>Me formei no Ensino Médio em 2021 e esse ano decidi começar a explorar essa área da programação.</p><br>
                <p>As linguagens que utilizo são: Python 3, HTML 5 e Css 3. Também tenho conhecimentos de Figma, um Framework de prototipagem. Apesar de estar explorando todas as áreas, me destaquei em Front-End e pretendo me aprofundar nesse campo.</p>
            </div>
        </div>
    </section>
{% endblock %}     